@{
    Layout = "_MasterLayout";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/stylesheet.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="navbar">
            <div class="navbar-brand"><a href="/">ASP.Net Core App</a></div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact-us">Contact</a></li>
                <li><a href="/products">All Products</a></li>
                <li><a href="/product/search">Search Products</a></li>
                <li><a href="/product/order">Order Product</a></li>
            </ul>
        </div>
        <div class="page-content">
            @RenderBody()
        </div>
        <div class="footer-content">
            @RenderSection("Footer_Section",false)
        </div>
    </div>
</body>
</html>
